* {
  // outline: 1px solid red;
}

body {
  font-family: 'Noto Sans TC',
    'Roboto',
    'SF Pro Text',
    'Helvetica Neue',
    sans-serif;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

a.text-secondary:hover,
a.text-secondary:focus {
  font-weight: 700;
  color: $primary !important;
}