//index
.banner {
  width: 40%;
  height: 736px;
  background: url(../images/index-1.png) center/cover;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;

  @include pad {
    position: relative;
    width: 210px;
    height: 288px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include phone {
    width: 100%;
    height: 352px;
  }
}

.banner-text {
  height: 736px;

  @include pad {
    height: auto;
  }
}

.arrow-icon {
  position: absolute;
  right: 0;
  bottom: 20px;

  @include pad {
    bottom: 0;
  }
}

.input-group>.custom-select {
  @include pad {
    width: 100%;
  }
}

.search-btn {
  border-radius: 0 4px 4px 0;

  @include pad {
    width: 100%;
    border-radius: 4px !important;
  }
}

.select-border {
  @include pad {
    border-radius: 4px !important;
  }
}

//hot
.hot-img {
  height: 120px;
}

.person-img {
  position: absolute;
  top: -50px;
}

.swiper-button-next {
  right: 0;
  top: 380px;
}

.swiper-button-next::after {
  display: none;
}


//reservation
.reserve-img {
  height: 350px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;

  @include pad {
    height: 210px;
  }

  @include phone {
    height: 132px;
  }
}

.reserve-half-img {
  height: 173px;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;

  @include pad {
    height: 103px;
  }

  @include phone {
    height: 132px;
  }
}

.hotel-img {
  background: url(../images/index-5.jpeg) center/cover;
}

.beauty-img {
  background: url(../images/index-6.jpeg) center/cover;
}

.care-img {
  background: url(../images/index-7.jpeg) center/cover;
}

.babysitter-img {
  background: url(../images/index-8.jpeg) center/cover;
}

.training-img {
  background: url(../images/index-3.jpeg) center/cover;
}

//now
.now {
  height: 584px;
  background: url(../images/index-9.jpeg) center/cover;

  @include phone {
    height: 812px;
  }
}

.now-title {
  @include phone {
    font-size: $font-size-base*2.5;
  }
}

.now-block {
  border-left: 1px solid $white;
  height: 212px;

  @include phone {
    height: 120px;
  }
}