<!-- member -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi, Joanne</a>
  <ul class="dropdown-menu pt-2 pb-1" aria-labelledby="dropdownMenuLink">
    <li>
      <a class="dropdown-item p text-secondary py-1" href="#">會員資料</a>
    </li>
    <li>
      <a class="dropdown-item p text-secondary py-1" href="#">預約查詢</a>
    </li>
    <li class="pb-2">
      <a class="dropdown-item p text-secondary py-1" href="#">歷史預約</a>
    </li>
    <li>
      <a class="dropdown-item p text-point border-top border-black-a-light py-2" href="#">切換保母帳號</a>
    </li>

    
    
  </ul>
</li>