//btn
button:focus {
  outline: 0;
}

.btn-point {
  background-color: $point;
  color: $white;
  border: 1px solid $point;
  transition: .5s;

  &:hover {
    background-color: darken($point, 6%);
  }
}

.btn-point-outline {
  background-color: $white;
  color: $point;
  border: 1px solid $point;
  transition: .5s;

  &:hover {
    background-color: $point;
    color: $white;
  }
}

.btn-point-300 {
  background-color: $point;
  color: $white;
  border: 1px solid $gray-300;
  transition: .5s;

  &:hover {
    background-color: darken($point, 6%);
    color: $white;
  }
}

.btn-300 {
  background-color: $white;
  color: $gray-600;
  border: 1px solid $gray-300;
  transition: .5s;

  &:hover {
    background-color: $primary-darker;
    border: 1px solid $primary-darker;
    color: $white;
  }
}

.btn-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.w100-btn {
  @include pad {
    width: 100%;
  }
}